#body {
    background-color: linen;
}        
#idmove{
            position: absolute;
            margin-left: 100px;
            top: 60px;
        }
       
        #inputid{
            width: 70px;
            position: absolute;
            margin-left: 125px;
            top: 80px;
        }
       
        #firstnamemove{
            position: absolute;
            margin-left: 210px;
            top: 60px;
        }
        #inputfirstname{
            width: 180px;
            position: absolute;
            margin-left: 310px;
            top: 80px; 
        }
        #lastnamemove{
            position: absolute;
            margin-left: 510px;
            top: 60px;  
        }
        #inputlastname{
            width: 180px;
            position: absolute;
            margin-left: 610px;
            top: 80px; 
        }
        #emailmove{
            position: absolute;
            margin-left: 810px;
            top: 60px;
        }
        #inputemail{
            width: 220px;
            position: absolute;
            margin-left: 880px;
            top: 80px; 
        }
        #phonenumber{
            position:absolute;
            margin-left: 1125px;
            top: 60px;
        }
        #inputphone{
            width: 150px;
            position: absolute;
            margin-left: 1260px;
            top: 80px; 
        }
        #salarymove{
            position: absolute;
            margin-left: 480px;
            top: 100px;
        }
        #inputsalary{
            width: 100px;
            position: absolute;
            margin-left: 550px;
            top: 120px; 
        }
       #buttonOk{
            width: 105px;
            position: absolute;
            left: 680px;
            top: 120px;
            background-color: black;
            color: greenyellow;
            }
       #buttonclear{
            width: 105px;
            position: absolute;
            left: 800px;
            top: 120px;
            background-color: whitesmoke;
            color: blue;    
            }
        #searchmove{
            position: absolute;
            margin-left: 500px;
            top: 160px;
            z-index: 20;
        }
        #inputsearch{
            width: 215px;
            position: absolute;
            margin-left: 570px;
            top: 180px; 
            z-index: 20;
        }
        #searchselect{
            height: 20px;
            position: absolute;
            top: 180px;
            left: 820px;
            z-index: 20;
        }
        #buttonsearch{
            width: 100px;
            position: absolute;
            left: 920px;
            top: 180px;
            background-color: wheat;
            color: black;
            z-index: 20;
        }
         table{
            border-collapse: collapse;
            margin-top: 150px;
            left: 150px;
            position: absolute;
        }

        td, th{
            padding: 10px;
        }

        td{
            border : solid 1px windowtext;
            width: 70px;
        }

        thead > tr{
            background-color: cornsilk;
        }
        .tdno{
            width: 60px;
        }
        .tdfirst,.tdlast,.tdphone{
            width: 160px;
        }
        .tdemail{
            width: 230px;
        }
        .tdmodify{
            width: 110px;
        }
        .tdsalary,.tdid{
            width: 90px;
        }
        #buttondelete{
            width: 120px;
            margin-top: 5px;
            background-color: red;
            color: white;
            
          
        }
        #buttonupdate{
            width: 120px;
            background-color: gold;
            color: brown;
            
        }
        
        